<div class="container">
  <nav>
    <span class="nav__items">
      <a  routerLink="home"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page">Menu 1</a>

      <a  routerLink="sumary"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page">Menu 2</a>
    </span>
    <span class="nav__enlace">
      <a  routerLink="home"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page">Regresar</a>
    </span>
  </nav>
</div>
<router-outlet></router-outlet>
