<div class="container">
  <div class="home__title">
    <h1>Lista de las Peliculas</h1>
  </div>

  <div class="container__card">
    <div class="card">
      <div class="card__title">
        <div class="card__user"></div>
        <h2>{{data.Title}}</h2>
      </div>
      <div class="card__img"></div>
      <div class="card__info">
        <span><h3>{{data.Year}}</h3></span>
        <span class="card__info__data">
          <h3>{{data.Ratings[1].Source}}</h3>
          <h3>{{data.Ratings[1].Value}}</h3>
        </span>
        <button class="btn">Resumen</button>
      </div>
    </div>
    <div class="card">
      <div class="card__title">
        <div class="card__user"></div>
        <h2>{{data.Title}}</h2>
      </div>
      <div class="card__img"></div>
      <div class="card__info">
        <span><h3>{{data.Year}}</h3></span>
        <span class="card__info__data">
          <h3>{{data.Ratings[1].Source}}</h3>
          <h3>{{data.Ratings[1].Value}}</h3>
        </span>
        <button class="btn">Resumen</button>
      </div>
    </div>
    <div class="card">
      <div class="card__title">
        <div class="card__user"></div>
        <h2>{{data.Title}}</h2>
      </div>
      <div class="card__img"></div>
      <div class="card__info">
        <span><h3>{{data.Year}}</h3></span>
        <span class="card__info__data">
          <h3>{{data.Ratings[1].Source}}</h3>
          <h3>{{data.Ratings[1].Value}}</h3>
        </span>
        <button class="btn">Resumen</button>
      </div>
    </div>
  </div>
</div>

